form(action="/create", method="post") 
    div 
        label(for='name') Name: 
        input(name='name' id='name')
    div 
        label(for='age') Age: 
        input(name='age' id='age')
    div 
        label(for='username') Username: 
        input(name='username' id='username')
    div 
        label(for='email') Email: 
        input(name='email' id='email')
    div 
        input(type='submit' value='Add User')