.usersTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 400px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th, td {
    padding: 1em;
}

th {
    background-color: black;
    color: white;
}

.dataRow:nth-child(2n+0){
    background-color: lightgray;
}

button {
    border: none;
    border-radius: 50px;
    margin: .25em;
    padding: .25em .5em;
    background-color: cornflowerblue;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

button a {
    color: white;
    text-decoration: none;
}

.dangerButt {
    background-color: crimson;
}